.about {
    display: block;
    width: 960px;
    max-width: 100%;
    margin: auto;
    padding-top: 115px;
}

.contactList {
    margin: 0;
    padding: 10px 0 0 20px;
}

.card {
    margin-bottom: 50px;
    color: rgba(0, 0, 0, .870588);
    background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(.23, 1, .32, 1) 0ms;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    font-size: 14px;
    color: #303030;
}

.avatar {
    float: left;
    margin-right: 35px;
}

.article:after {
    content: "";
    clear: both;
    display: block;
}

@media screen and (max-width: 950px) {
    .about {
        padding: 10px;
    }

    .avatar {
        float: none;
        display: block;
        margin: 0;
        padding: 10px;
    }
}