.main {
    display: block;
    width: 960px;
    max-width: 100%;
    margin: auto;
    padding-top: 120px;
}

.mainImage {
    display: block;
    width: 100%;
    margin-bottom: 40px;
}

.album {
    display: inline-block;
    margin: 20px;
}

.back {
    display: inline-block;
    padding: 5px 0;
    font-size: 12px;
    color: #666;
    transition: .2s ease-in-out all;
}

.back:hover {
    color: #222;
}

.backWrap {
    position: relative;
}

.card {
    padding: 30;
    color: rgba(0, 0, 0, .870588);
    background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(.23, 1, .32, 1) 0ms;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, .117647) 0 1px 6px, rgba(0, 0, 0, .117647) 0 1px 4px;
    border-radius: 2px;
}

.title {
    font-weight: bold;
    font-size: 16px;
    color: #303030;
    margin: 45px 0 20px 0;
}

@media screen and (max-width: 960px) {
    .main {
        padding: 10px;
    }
}