.wrap {
    display: block;
    width: 100%;
    margin: 20px auto 15px auto;
}

.link {
    font-weight: lighter;
    font-size: 12px;
    color: #303030;
    margin-right: 20px;
    padding-bottom: 5px;
    transition: .2s color ease-out;
}

.link:last-child {
    margin-right: 0;
}

.activeLink {
    font-weight: normal;
    color: #303030;
    box-shadow: 0 2px 0 #909090;
    padding-bottom: 5px;
}

@media screen and (max-width: 950px) {
    .wrap {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .wrap {
        text-align: center;
    }

    .link {
        display: block;
        width: 100%;
        background: #eee;
        font-size: 20px;
        padding: 4px;
        font-weight: 300;
        margin-bottom: 1px;
    }

    .link:hover {
        color: #000;
    }
}
