.main {
    display: block;
    width: 960px;
    max-width: 100%;
    margin: auto;
    padding-top: 120px;
}

.main img, .main iframe {
    max-width: 100% !important;
}

.posts {
    list-style: none;
    margin: 0;
    padding: 0;
}

.postHeader {
    font-weight: bold;
    font-size: 16px;
    color: #303030;
}

.postsLink {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.postsLink:first-child {
    padding-top: 0;
    margin-top: 0;
    border-top: none;
}

.posts_link:hover {
    cursor: pointer;
}

.link {
    display: block;
    color: #444;
}

.link:hover {
    cursor: pointer;
}

.card:first-child {
    padding-top: 0;
}

.card {
    padding: 25px 0;
    box-sizing: border-box;
    overflow: hidden;
    background: #fff;
}

.cardImage {
    float: left;
    margin-right: 30px;
    overflow: hidden;
    width: 360px;
    max-width: 100%;
}

.cardImage:after {
    content: "";
    clear: both;
    display: block;
}

.postWrap {
    margin-left: 390px;
}

.img {
    width: 100%;
    max-height: inherit;
    transition: .2s all ease-out;
}

.links {
    font-size: 14px;
    color: #4a90e2;
}

.date {
    font-style: italic;
    font-size: 12px;
    color: #909090;
}

@media screen and (max-width: 1000px) {

    .main {
        padding-top: 10px;
    }

    .cardImage {
        float: none;
        display: block;
    }

    .postWrap {
        margin-left: 0;
    }
}
