.main {
    display: block;
    width: 960px;
    max-width: 100%;
    margin: 150px auto 100px auto;
}

.mainImage {
    display: block;
    min-width: 310px;
    min-height: 210px;
}

.imageWrapper {
    overflow: hidden;
    height: 210px;
}

.album {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}

.card {
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 310px;
    height: 255px;
    margin-right: 15px;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, .870588);
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.card:nth-child(3n) {
    margin-right: 0;
}

.meta {
    font-family: Comfortaa, serif;
    font-weight: lighter;
    text-align: center;
    box-sizing: border-box;
    letter-spacing: .5px;
    width: 100%;
    transition: .2s all cubic-bezier(.215, .61, .355, 1);
    padding: 10px 0 10px 20px;
    height: 50px;
    font-size: 12px;
    color: #606060;
}

.delimeter {
    margin: 0 10px;
    background: #999;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.horizontalImage {
    /*margin: 0 0 0 -25%;*/
}

.verticalImage {
    margin: -15% 0 0 0;
}


@media screen and (max-width: 980px) {
    .main {
        text-align: center;
    }

    .card {
        display: block;
        margin: 0 auto 50px auto !important;
    }
}

@media screen and (max-width: 500px) {
    .main {
        padding: 0;
    }

    .mainImage {
        display: block;
        margin: 0;
        max-width: 100%;
        min-width: 100%;
    }

    .card {
        display: block;
        width: 100%;
        height: auto;
    }
}
