.header {
    position: fixed;
    background: #fff;
    padding-top: 20px;
    top: 0;
    left: 0;
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}

.headerWrapper {
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    width: 960px;
    overflow: hidden;
    box-shadow: 0 2px 1px -2px #a5a5a5;
}

.menu {
    max-width: 100%;
    text-align: right;
}

.title {
    color: #999;
    display: block;
    font-weight: 300;
}

.logoLink {
    float: left;
}

.logo {
    border: none;
    display: inline-block;
    outline: none;
}

@media screen and (max-width: 950px) {
    .header {
        position: static;
    }

    .headerWrapper {
        padding-bottom: 0;
        text-align: center;
    }

    .logoLink {
        float: none;
        position: initial;
    }

    .logo {
        display: block;
        margin: 0 auto 20px auto;
        max-width: 100%;
        padding: 0 15px;
    }

    .title {
        margin: 10px 0 25px 0;
    }

    .menu {
        position: static;
    }
}
