.main {
    display: block;
    width: 960px;
    max-width: 100%;
    margin: auto;
    padding-top: 120px;
}

.mainImage {
    display: block;
    max-width: none;
    min-width: 470px;
}

.album {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}

.card {
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 470px;
    height: 320px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, .870588);
    background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(.23, 1, .32, 1) 0ms;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, .117647) 0 1px 6px, rgba(0, 0, 0, .117647) 0 1px 4px;
}

.card:hover .meta {
    background: rgba(0, 0, 0, .66);
}

.card:nth-child(2n) {
    margin-right: 0;
}

.meta {
    text-align: center;
    box-sizing: border-box;
    bottom: 0;
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    transition: .2s all cubic-bezier(.215, .61, .355, 1);
    padding: 10px 0;
    height: 48px;
}

.header {
    font-weight: 500;
    box-sizing: border-box;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}

.delimeter {
    margin: 0 10px;
    background: #999;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.horizontalImage {
    margin: 0 0 0 -25%;
}

.verticalImage {
    margin: -15% 0 0 0;
}

@media screen and (max-width: 980px) {
    .main {
        text-align: center;
        padding-top: 10px;
    }

    .card {
        display: block;
        margin: 0 auto 50px auto !important;
    }
}

@media screen and (max-width: 500px) {
    .main {
        padding: 0;
    }

    .mainImage {
        display: block;
        margin: 0;
        max-width: 100%;
        min-width: 100%;
    }

    .card {
        display: block;
        width: 100%;
        height: auto;
    }
}
